.App {
  text-align: center;
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;

}



.App-header {
  background-color: #8eb0f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(25, 63, 129);

}

.App-link {
  color:rgb(25, 63, 129);
}
ul {
  list-style-type: none;
}
